on: [ push ]

jobs:
  migration_job:
    runs-on: ubuntu-latest
    name: CI migration
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check owner
        id: db-migration
        uses: ./migration-action
        with:
          dbname: test
          commands:  |
            sqitch deploy
            env
            echo 'Migration has been completed'
          migration_envs: |
            DATABASE_LAB_CI=true
        env:
          CI_ENDPOINT: ${{ secrets.CI_ENDPOINT }}
          SECRET_TOKEN: ${{ secrets.SECRET_TOKEN }}
      - name: Upload response
        uses: actions/upload-artifact@v2
        with:
          name: migration_response
          path: response.json
      # Use public actions
      #      - name: DB migration with DLE
      #        uses: agneum/migration-action@v0.0.4
      #        id: db-migration
      #        with:
      #          dbname: test
      #          commands:  |
      #            sqitch deploy
      #            env
      #            echo 'Migration has been completed'
      #          migration_envs: |
      #            DATABASE_LAB_CI=true
      #        env:
      #          CI_ENDPOINT: ${{ secrets.CI_ENDPOINT }}
      #          SECRET_TOKEN: ${{ secrets.SECRET_TOKEN }}
      - name: Get the response status
        run: echo "${{ steps.db-migration.outputs.response }}"
